@import url('indexAdmin');
@import url('index');
@import url('/');

.container{
    margin:50px;
}
.container-btn{
    margin-bottom: 20px;
}

.boton-create{
    margin: 50px;
    
}



/* card-body col-7 */